<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
     <typeAlias type="biz.vo.UserVO" alias="uservo"/>
     <typeAlias type="biz.vo.FriendVO" alias="friendvo"/>
 </typeAliases>
  <mappers>
<!--        <mapper resource="mapper/user_mapper.xml"/>  -->
       <mapper class="mappers.UserMapper"/>
  </mappers>
</configuration>



