@charset "UTF-8";

#header{

	text-align:center;
	background-color: red;
	height:100px;
}

#menu{

	width:25%;
	float:left;
	height: 400px;
	background-color: aqua;
}

#content{
	text-align:right;
	margin-left:25%;
	width:75%;
	background-color: green;
	height:400px;
	overflow: hidden;
}


#footer{
	vertical-align:sub;
	color:blue;
	background-color: gray;
	float:both;	
	height:200px;
	overflow:hidden;
}